<!doctype html>
<html lang="et" ng-app="app">
    <head>
        <meta charset="utf-8">
        <title>Ng1</title>
        <link rel="stylesheet" href="styles.css">
        <style type="text/css">
            .ng-cloak {
                display: none
            }

            .done {
                text-decoration: line-through
            }
        </style>
    </head>
    <body ng-controller="C1 as vm">
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script type="text/javascript" src="myScript.js"></script>
        
        <button ng-click="vm.increase()">INCREASE ME</button>

        <input ng-model="vm.newItem"></input>

        <button ng-click="vm.addItem()">Add</button>

        <div ng-repeat="item in vm.items">
            <span ng-class="{ done: item.done }">{{ item.title }}</span>
            <input type="checkbox" ng-model="item.done"></input>
        </div>
        --- {{ vm.myVar }} ---
    </body>
</html>
